.map-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.map-view .map {
  flex: 1;
}


.ui-map-details {
  background-color: var(--lumo-base-color);
  position: absolute;
  border-radius: var(--lumo-space-s);
  border: 2px solid var(--lumo-contrast-30pct);
  padding: var(--lumo-space-m);
  min-width: 200px;
}